<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>New User</title>


</head>
<body>
<form th:method="POST" th:action="@{/users}" th:object="${user}">
    <div>
        <label for="name"> Name</label>
        <input type="text" th:field="*{name}" id="name"/>

        <br/>

        <label for="surname"> Surname</label>
        <input type="text" th:field="*{surname}" id="surname"/>

        <input type="submit" value="Add User"/>

    </div>

</form>
</body>
</html>